/* 引入 Zen Old Mincho (Google Fonts)
網址：https://fonts.google.com/specimen/Zen+Old+Mincho
*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* colorMode 黑暗模式可以使用 dark:[style] */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-zen-old-mincho: 'Zen Old Mincho',
    serif;

  /* 主色系 (棕色) */
  --color-primary: #cdb8a3;
  --color-disabled: #e5e7eb;

  /* 輔助色系 (灰色) */
  --color-secondary-light: #686868;
  --color-secondary-dark: #c5c5c5;

  /* 文字色系 (黑灰/灰白) */
  --color-text-light: #111111;
  --color-text-dark: #f6f5f0;


  /* 深文字色 */
  --color-primary: #cdb8a3;


  /* 動畫 */
  --animate-rotating: rotating 2s ease-in-out;
  --animate-drift: drift 10s ease-in-out infinite;

  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes drift {

    0%,
    100% {
      transform: translateX(-10px) translateY(0px);
    }

    50% {
      transform: translateX(15px) translateY(-4px);
    }
  }
}

@layer base {
  :root {
    --text-color: var(--color-text-light);
    --bg-color: #fbf4ef;
    --loading-bg: var(--color-primary);
  }

  .dark {
    --text-color: var(--color-text-dark);
    --bg-color: #1c1a3a;
  }

  html,
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* 暗黑模式樣式與動畫 */
    color: var(--text-color);
    /* 預設先用 loading 背景色 */
    background: var(--loading-bg);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* 滾動 */
    scroll-behavior: smooth;

    /* RWD 控制文字大小與尺寸 
      限制數值在指定範圍:clamp(最小值, 理想值, 最大值)
      寬度: min-width: 320px;
      文字大小: min-font:12px max-font:16px;
      計算: 12px/320px = 0.0375 寬度每增加 1px，文字大小增加 0.0375px
      */
    font-size: clamp(12px, calc(12px + (100vw - 320px) * 0.0375), 16px);
  }

  html:has(.main-bg),body:has(.main-bg), body.main-bg {
    background: var(--bg-color);
  }
}

@layer components {
  .c-container {
    @apply w-9/10 mx-auto lg:max-w-7xl;
  }

  .c-border-secondary {
    @apply border-secondary-light/50 dark:border-secondary-dark/50;
  }

  .c-text-secondary {
    @apply text-secondary-light dark:text-secondary-dark;
  }
}

@import "./typography.css";