/* @tailwindcss/typography 樣式套件修改 */
/* title */
.prose :where(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply no-underline!;
}

.prose :where(h2, h3, h4, h5, h6):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply scroll-mt-24 lg:-ml-6;
}

.prose :where(h2, h3, h4, h5, h6):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  @apply content-['#'] opacity-100 transition-opacity duration-300 text-primary pr-2 inline-block lg:opacity-0;
}

.prose :where(h2, h3, h4, h5, h6):not(:where([class~="not-prose"], [class~="not-prose"] *)):hover::before {
  @apply lg:opacity-100;
}

/* table */
.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply bg-gray-50 dark:bg-black/40 border border-gray-300;
}

.prose :where(thead):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply bg-gray-100 dark:bg-black;
}

.prose :where(th, td):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply p-2;
}

/* code */
.prose :where(code):not(pre code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply bg-neutral-100 text-primary-dark px-2 py-1 rounded border border-gray-300 dark:bg-neutral-800 dark:text-primary;
}
.prose :where(code):not(pre code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before, .prose :where(code):not(pre code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after{
  @apply content-[''];
}

/* a */
.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply text-primary-dark dark:text-primary;
}
